@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');

body{
    background-color: aquamarine;
    font-family: 'Lato', sans-serif;
}

img{
    width: 500px;
}

h1{
    color: crimson;
}